USE [master]
GO
/****** Object:  Database [AJAYDB]    Script Date: 3/13/2022 1:22:59 PM ******/
CREATE DATABASE [AJAYDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AJAYDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AJAYDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AJAYDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AJAYDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AJAYDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AJAYDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/13/2022 1:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 3/13/2022 1:23:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllCategory]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREAte procedure [dbo].[Usp_GetAllCategory]
AS
BEGIN
SELECT * FROM categories;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllProduct]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREAte procedure [dbo].[Usp_GetAllProduct]
AS
BEGIN
SELECT * FROM products;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usp_Product]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_Product]@ProductId intAsbegin	Select * from Products where ProductId=@ProductIdend

GO
/****** Object:  StoredProcedure [dbo].[Usp_SaveProduct]    Script Date: 3/13/2022 1:23:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_SaveProduct]
@ProductId int,
@CategoryId int =0,
@ProductName Varchar(100)='',
@Description Varchar(250)='',
@UnitPrice decimal=0,
@Type Varchar(100)
AS
BEGIN
	IF @Type='save'
	BEGIN
		INSERT INTO products(name,description,unitprice,categoryid) values(@ProductName,@Description,@UnitPrice,@CategoryId);
	END;
	ELSE IF @Type='update'
	BEGIN
		UPDATE products SET name=@ProductName,description=@Description,unitprice=@UnitPrice,categoryid=@CategoryId
		WHERE productid=@ProductId;
	END;
	ELSE IF @Type='delete'
	BEGIN
		DELETE FROM products WHERE productid=@ProductId;
	END;
END;
GO
USE [master]
GO
